.site-header {
    padding: 0;

    .site-logo {
        a {
            display: block;
            max-width: 6rem;

            @include tablet {
                max-width: 8rem;
            }

            @include desktop-small {
                max-width: 10rem;
            }
        }
    }

    .hamburger {
        .buns {
            .patty,
            .patty:before,
            .patty:after {
                background: $purple;
            }
        }
    }

    .site-nav {
        .top-level-link {
            text-transform: uppercase;
            font-size: 0.8125rem;
            letter-spacing: 0.05em;
            font-weight: bold;

            @include desktop-small {
                font-size: 0.75rem;
                padding-bottom: 0.25rem;
                border-bottom: 2px solid transparent;
            }

            @include desktop-medium {
                font-size: 0.8125rem;
            }

            color: $light-purple;

            &:hover {
                border-bottom: 2px solid $light-purple;
                text-decoration: none;
            }
        }

        .dropdown {
            .top-level-link {
                &:hover {
                    text-decoration: none;
                    border-bottom: 2px solid transparent;
                }
            }
        }

        .sub-nav {
            border-radius: 0;
            box-shadow: 0 0 8px rgba(10, 34, 69, 0.1);

            .sub-link {
                a {
                    font-size: 0.875rem;
                    font-weight: bold;
                    color: $light-purple;
                }
            }
        }
    }

    @import 'search';
}

.nav-open {
    .site-header {
        background: $light-purple;

        .site-nav {
            .top-level-link {
                color: $white;

                &:hover {
                    border-color: $white;
                }
            }

            .cta {
                .btn {
                    border-color: $white;
                    color: $white;

                    &:hover {
                        background: $white;
                        color: $light-purple;
                    }
                }
            }
        }

        .hamburger {
            .buns {
                .patty {
                    background: transparent;

                    &:before,
                    &:after {
                        background: $white;
                    }
                }
            }
        }
    }
}

@import 'banner';
