.search-toggle {
    display: flex;
    align-items: center;
    padding-top: 1.5rem;

    @include desktop-small {
        padding-top: 0;
    }

    svg {
        width: 100%;
        max-width: 1.25rem;

        &:hover {
            cursor: pointer;
        }

        path {
            @include desktop-small {
                fill: $purple;
            }

        }
    }

    .search-form-wrapper {
        opacity: 0;
        transition: all 0.3s ease;
        height: 0;
        overflow: hidden;

        &.active {
            height: auto;
            overflow: visible;
            opacity: 1;
        }
    }

    .search-form {
        position: absolute;
        top: 2rem;
        left: -1.25rem;

        display: flex;
        align-items: stretch;
        background: rgba(255, 255, 255, 0.25);
        padding: 1rem;
        border-radius: 8px;
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);

        @include desktop-small {
            top: 3rem;
            right: 0;
            left: auto;
        }

        .search-field {
            height: 100%;
            border-radius: 4px;
            border: 1px solid rgba(0, 0, 0, 0.4);
            padding: 0 0.5rem;
            font-size: 0.875rem;
            width: 12rem;

            @include placeholder {
                color: #b5b5b5;
            }
        }

        .search-submit {
            display: block;
            background: $purple;
            border: none;
            color: $white;
            padding: 0.5rem 1rem;
            text-transform: uppercase;
            font-size: 0.75rem;
            letter-spacing: 0.1em;
            font-weight: bold;
            border-radius: 4px;
            margin-left: 0.5rem;
        }
    }
}