body {
	background: #F4F4F4;
}

.site {
	border-color: $light-purple;
	background: $white;
}

.site-content {
	min-height: unset;
}

.page-header {
	padding: 3rem 0 0 0;

	h1 {
		font-size: clamp(2rem, 4vw, 3.5rem);
		color: $light-purple;
		padding-bottom: 1rem;
	}

	h2 {
		font-weight: bold;
		color: $orange;
		font-size: clamp(0.75rem, 1vw, 0.875rem);
		padding-bottom: 2rem;
		border-bottom: 1px solid $light-purple;
		letter-spacing: 0.1em;

		br {
			display: none;
		}
	}
}

.copy {
	& + .cta {
		padding-top: 2rem;
	}
}

.sub-grid {
	display: grid;
	gap: 0 2rem;
	grid-template-columns: repeat(4, 1fr);

	@include tablet-small {
		grid-template-columns: repeat(8, 1fr);
	}

	@include desktop-small {
		grid-template-columns: repeat(12, 1fr);
	}

	& > * {
		grid-column: 1 / -1;
	}
}