section.impacts {
    padding: 3rem 0;

    @include desktop-small {
        padding: 6rem 0;
    }

    .section-header {
        padding-bottom: 3rem;

        h3 {
            font-weight: 700;
            color: $purple;
            font-size: clamp(1.5rem, 1.5vw, 1.75rem);
            line-height: 1.25em;
        }
    }

    .impacts-grid {
        display: grid;
        gap: 4rem;

        @include tablet {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    .impact {
        .headline {
            padding-bottom: 0.5rem;

            h4 {
                font-weight: bold;
                color: $light-purple;
                font-size: clamp(1.125rem, 1.25vw, 1.25rem);
                line-height: 1.25em;
            }
        }


    }
}