section.map {
    .photo {
        grid-column: 1 / -1;
        grid-row: 1;
        @include aspect-ratio(16, 9);
        @include cover-fill-image;
    }

    .caption {
        grid-row: 1;
        z-index: 1;
        padding-top: 2rem;
        
        @include tablet {
            grid-column: 6 / span 4;
        }

        @include desktop-small {
            padding-top: 4rem;
            grid-column: 10 / span 4;
        }

        &-wrapper {
            background: $white;
            padding: 2rem;
            font-style: italic;
        
        }
    }
}