.site-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: auto;
    background: rgba(0, 0, 0, 0.25);
    transition: all 0.2s ease;

    .site-nav {
        .top-level-link {
            color: $white;

            &:hover {
                border-color: $white
            }
        }

        .cta {
            .btn {
                border-color: $white;
                color: $white;

                &:hover {
                    background: $white;
                    color: $light-purple;
                }
            }
        }
    }

    .hamburger {
        .buns {
            .patty {
                background: $white;

                &:before,
                &:after {
                    background: $white;
                }
            }
        }
    }

	.search-toggle {
		svg {
			path {
				@include desktop-small {
					fill: $white;
				}
			}
		}
	}

}

&.nav-open {
    .site-header {
        background: $light-purple;
        .hamburger {
            .buns {
                .patty {
                    background: transparent;
                }
            }
        }
    }
}