@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;0,800;1,300;1,400;1,700;1,800&display=swap");
.cta .btn {
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 0.05em;
  font-weight: bold;
  color: #191549;
  border-color: #191549;
  border-width: 2px;
}
.cta .btn:hover {
  background: #191549;
  color: #fff;
}
.cta .btn.orange {
  border-color: #b68335;
  background: #b68335;
  color: #fff;
}
.cta .btn.orange:hover {
  background: #b68335;
  color: #fff;
}
.cta .underline {
  text-transform: uppercase;
  border-bottom: 2px solid;
  display: inline-block;
  font-weight: 700;
  letter-spacing: 0.15em;
  font-size: clamp(0.75rem, 1vw, 0.875rem);
  padding-bottom: 0.125rem;
}

section.timeline {
  padding: 6rem 0;
  gap: 2rem;
}
section.timeline .section-header {
  text-align: center;
  padding-bottom: 3rem;
}
@media screen and (min-width: 992px) {
  section.timeline .section-header {
    grid-column: 4/span 8;
  }
}
section.timeline .section-header .headline h3 {
  font-weight: 700;
  color: #191549;
  font-size: clamp(1.5rem, 1.5vw, 1.75rem);
  line-height: 1.25em;
}
section.timeline .timeline-range {
  display: grid;
  grid-template-columns: 4rem 1fr 4rem;
  padding-bottom: 3rem;
}
@media screen and (min-width: 768px) {
  section.timeline .timeline-range {
    padding-bottom: 6rem;
  }
}
section.timeline .timeline-range .start,
section.timeline .timeline-range .end {
  font-style: italic;
  font-size: clamp(0.875rem, 1vw, 1rem);
  letter-spacing: 0.05em;
  padding-top: 0.1375rem;
}
section.timeline .timeline-range .start {
  text-align: right;
  padding-right: 1.5rem;
}
section.timeline .timeline-range .end {
  padding-left: 1.5em;
}
section.timeline .timeline-range .line:before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background: #191549;
  position: absolute;
  top: 0.6rem;
}
section.timeline .timeline-range .timeline-link {
  display: block;
  position: absolute;
  top: 0.15rem;
}
section.timeline .timeline-range .timeline-link:hover {
  cursor: pointer;
}
section.timeline .timeline-range .timeline-link:hover .label {
  opacity: 1;
}
section.timeline .timeline-range .timeline-link.duplicate-year:nth-child(even) .dot {
  transform: translateY(-0.61255rem);
}
section.timeline .timeline-range .timeline-link.duplicate-year:nth-child(odd) .dot {
  transform: translateY(0.725rem);
}
section.timeline .timeline-range .timeline-link .dot {
  background: #191549;
  width: 1rem;
  height: 1rem;
  display: block;
  border-radius: 50%;
  transition: all 0.2s ease;
}
section.timeline .timeline-range .timeline-link .label {
  position: absolute;
  top: -2rem;
  left: -0.5rem;
  width: 2rem;
  text-align: center;
  opacity: 0;
  transition: all 0.2s ease;
}
section.timeline .timeline-range .timeline-link:nth-child(odd) .label {
  top: auto;
  bottom: -2rem;
}
section.timeline .timeline-range .timeline-link.active .dot {
  background: #b68335;
}
section.timeline .timeline-range .timeline-link.active .label {
  opacity: 1;
}
section.timeline .timeline-slider {
  max-width: 892px;
  margin: 0 auto;
}
section.timeline .timeline-slider .entry-wrapper {
  padding: 1rem 2rem;
  max-width: 892px;
}
@media screen and (min-width: 768px) {
  section.timeline .timeline-slider .entry-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
section.timeline .timeline-slider .entry-wrapper .entry:focus, section.timeline .timeline-slider .entry-wrapper .entry:active {
  outline: none;
}
@media screen and (min-width: 768px) {
  section.timeline .timeline-slider .entry-wrapper .photo {
    order: 1;
    width: calc(60% - 1rem);
    height: 100%;
  }
}
section.timeline .timeline-slider .entry-wrapper .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin-left: auto;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
}
section.timeline .timeline-slider .entry-wrapper .info {
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  section.timeline .timeline-slider .entry-wrapper .info {
    padding-bottom: 0;
    order: 2;
    width: calc(40% - 1rem);
  }
}
section.timeline .timeline-slider .entry-wrapper .info .headline h3 {
  font-weight: bold;
  color: #191549;
}

nav.breadcrumbs {
  padding: 1rem 0 2rem 0;
}
nav.breadcrumbs .links {
  display: flex;
  align-items: center;
}
nav.breadcrumbs .links .level + .level {
  margin-left: 0.375rem;
}
nav.breadcrumbs .links .level + .level:before {
  content: ">";
  font-size: 0.75rem;
  display: inline-block;
}
nav.breadcrumbs a, nav.breadcrumbs span.current {
  font-size: 0.75rem;
  display: inline-block;
}
nav.breadcrumbs a {
  font-weight: bold;
}

body,
button,
input,
select,
optgroup,
textarea {
  font-family: "Open Sans", sans-serif;
  color: #191549;
}

a {
  color: #191549;
}

.site-content .hero .headline h1,
.site-content .hero .headline h2,
.site-content .hero .headline h3,
.site-content .hero .headline h4,
.site-content .hero .headline h5,
.site-content .hero .headline h6 {
  color: #fff;
}
.site-content .hero .headline h1 {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
.site-content a:hover {
  text-decoration: underline;
}

.headline {
  padding-bottom: 1rem;
}
.headline h1 {
  font-size: 1.75rem;
  line-height: 1.25em;
  font-weight: bold;
}
@media screen and (min-width: 992px) {
  .headline h1 {
    font-size: 2.25rem;
  }
}
.headline h1.small {
  font-size: 1.5rem;
}
@media screen and (min-width: 992px) {
  .headline h1.small {
    font-size: 2rem;
  }
}
.headline h2 {
  font-size: 1.5rem;
  line-height: 1.25em;
  font-weight: bold;
}
@media screen and (min-width: 992px) {
  .headline h2 {
    font-size: 1.75rem;
  }
}
.headline h3 {
  font-size: 1.25rem;
  line-height: 1.25em;
  font-weight: bold;
}
@media screen and (min-width: 992px) {
  .headline h3 {
    font-size: 1.5rem;
  }
}

.p1 {
  font-size: clamp(0.9375rem, 1.1vw, 1.125rem);
  line-height: 1.5em;
}
.p1 > * + * {
  padding-top: 2rem;
}

.p2 {
  font-size: clamp(0.75rem, 0.9vw, 0.875rem);
  line-height: 1.5em;
}
.p2 > * + * {
  padding-top: 2rem;
}

.p3 {
  font-size: clamp(0.6125rem, 0.9vw, 0.75rem);
  line-height: 1.5em;
}
.p3 > * + * {
  padding-top: 2rem;
}

body {
  background: #F4F4F4;
}

.site {
  border-color: #191549;
  background: #fff;
}

.site-content {
  min-height: unset;
}

.page-header {
  padding: 3rem 0 0 0;
}
.page-header h1 {
  font-size: clamp(2rem, 4vw, 3.5rem);
  color: #191549;
  padding-bottom: 1rem;
}
.page-header h2 {
  font-weight: bold;
  color: #b68335;
  font-size: clamp(0.75rem, 1vw, 0.875rem);
  padding-bottom: 2rem;
  border-bottom: 1px solid #191549;
  letter-spacing: 0.1em;
}
.page-header h2 br {
  display: none;
}

.copy + .cta {
  padding-top: 2rem;
}

.sub-grid {
  display: grid;
  gap: 0 2rem;
  grid-template-columns: repeat(4, 1fr);
}
@media screen and (min-width: 480px) {
  .sub-grid {
    grid-template-columns: repeat(8, 1fr);
  }
}
@media screen and (min-width: 992px) {
  .sub-grid {
    grid-template-columns: repeat(12, 1fr);
  }
}
.sub-grid > * {
  grid-column: 1/-1;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 60px;
  width: 60px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  bottom: -35px;
  padding: 0;
  border: none;
  z-index: 100;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 1;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: 20px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: 20px;
}
@media screen and (min-width: 992px) {
  .slick-prev {
    left: 40px;
  }
  [dir=rtl] .slick-prev {
    left: auto;
    right: 40px;
  }
}
.slick-prev:before {
  background: url(images/left-arrow.svg) no-repeat 0 0;
  width: 60px;
  height: 60px;
  content: "";
  display: block;
}

.slick-next {
  right: 20px;
}
[dir=rtl] .slick-next {
  left: 20px;
  right: auto;
}
@media screen and (min-width: 992px) {
  .slick-next {
    right: 40px;
  }
  [dir=rtl] .slick-next {
    left: 40px;
    right: auto;
  }
}
.slick-next:before {
  background: url(images/right-arrow.svg) no-repeat 0 0;
  width: 60px;
  height: 60px;
  content: "";
  display: block;
}

/* Dots */
.slick-dots {
  position: absolute;
  bottom: -40px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0 !important;
  margin: 0 !important;
  width: 100%;
  z-index: 10;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 12px;
  width: 12px;
  margin: 0 5px;
  padding: 0 !important;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 12px;
  width: 12px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 6px;
  height: 6px;
  line-height: 20px;
  text-align: center;
  background: #fff;
  border: 2px solid #191549;
  border-radius: 50%;
}
.slick-dots li.slick-active button:before {
  background: #191549;
  border-color: #191549;
}

.site-header {
  padding: 0;
}
.site-header .site-logo a {
  display: block;
  max-width: 6rem;
}
@media screen and (min-width: 768px) {
  .site-header .site-logo a {
    max-width: 8rem;
  }
}
@media screen and (min-width: 992px) {
  .site-header .site-logo a {
    max-width: 10rem;
  }
}
.site-header .hamburger .buns .patty,
.site-header .hamburger .buns .patty:before,
.site-header .hamburger .buns .patty:after {
  background: #191549;
}
.site-header .site-nav .top-level-link {
  text-transform: uppercase;
  font-size: 0.8125rem;
  letter-spacing: 0.05em;
  font-weight: bold;
  color: #191549;
}
@media screen and (min-width: 992px) {
  .site-header .site-nav .top-level-link {
    font-size: 0.75rem;
    padding-bottom: 0.25rem;
    border-bottom: 2px solid transparent;
  }
}
@media screen and (min-width: 1280px) {
  .site-header .site-nav .top-level-link {
    font-size: 0.8125rem;
  }
}
.site-header .site-nav .top-level-link:hover {
  border-bottom: 2px solid #191549;
  text-decoration: none;
}
.site-header .site-nav .dropdown .top-level-link:hover {
  text-decoration: none;
  border-bottom: 2px solid transparent;
}
.site-header .site-nav .sub-nav {
  border-radius: 0;
  box-shadow: 0 0 8px rgba(10, 34, 69, 0.1);
}
.site-header .site-nav .sub-nav .sub-link a {
  font-size: 0.875rem;
  font-weight: bold;
  color: #191549;
}
.site-header .search-toggle {
  display: flex;
  align-items: center;
  padding-top: 1.5rem;
}
@media screen and (min-width: 992px) {
  .site-header .search-toggle {
    padding-top: 0;
  }
}
.site-header .search-toggle svg {
  width: 100%;
  max-width: 1.25rem;
}
.site-header .search-toggle svg:hover {
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .site-header .search-toggle svg path {
    fill: #191549;
  }
}
.site-header .search-toggle .search-form-wrapper {
  opacity: 0;
  transition: all 0.3s ease;
  height: 0;
  overflow: hidden;
}
.site-header .search-toggle .search-form-wrapper.active {
  height: auto;
  overflow: visible;
  opacity: 1;
}
.site-header .search-toggle .search-form {
  position: absolute;
  top: 2rem;
  left: -1.25rem;
  display: flex;
  align-items: stretch;
  background: rgba(255, 255, 255, 0.25);
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 992px) {
  .site-header .search-toggle .search-form {
    top: 3rem;
    right: 0;
    left: auto;
  }
}
.site-header .search-toggle .search-form .search-field {
  height: 100%;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 0 0.5rem;
  font-size: 0.875rem;
  width: 12rem;
}
.site-header .search-toggle .search-form .search-field::-webkit-input-placeholder {
  color: #b5b5b5;
}
.site-header .search-toggle .search-form .search-field::-moz-placeholder {
  color: #b5b5b5;
}
.site-header .search-toggle .search-form .search-field:-moz-placeholder {
  color: #b5b5b5;
}
.site-header .search-toggle .search-form .search-field:-ms-input-placeholder {
  color: #b5b5b5;
}
.site-header .search-toggle .search-form .search-submit {
  display: block;
  background: #191549;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  font-weight: bold;
  border-radius: 4px;
  margin-left: 0.5rem;
}

.nav-open .site-header {
  background: #191549;
}
.nav-open .site-header .site-nav .top-level-link {
  color: #fff;
}
.nav-open .site-header .site-nav .top-level-link:hover {
  border-color: #fff;
}
.nav-open .site-header .site-nav .cta .btn {
  border-color: #fff;
  color: #fff;
}
.nav-open .site-header .site-nav .cta .btn:hover {
  background: #fff;
  color: #191549;
}
.nav-open .site-header .hamburger .buns .patty {
  background: transparent;
}
.nav-open .site-header .hamburger .buns .patty:before, .nav-open .site-header .hamburger .buns .patty:after {
  background: #fff;
}

section.banner {
  background: #b68335;
  padding: 1rem 0;
  color: #fff;
  text-align: center;
}
section.banner a {
  color: #fff;
  font-weight: bold;
}

.site-footer {
  background: #191549;
}
.site-footer .logo a {
  display: block;
  max-width: 120px;
}
.site-footer .download-report a {
  background: #b68335;
  color: #fff;
  max-width: 400px;
}
.site-footer .download-report a .cta {
  color: #fff;
  padding-bottom: 0;
  line-height: 1.25em;
}
.site-footer .download-report a .details {
  padding-top: 0.25rem;
  color: #fff;
  font-weight: bold;
  font-size: 0.675rem;
}
.site-footer .footer-nav h5 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 0.875rem;
  letter-spacing: 0.1em;
}
.site-footer .footer-nav .links {
  -moz-column-gap: 2rem;
       column-gap: 2rem;
}
.site-footer .footer-nav .links .link a {
  font-size: 0.875rem;
  line-height: 1.5em;
}
.site-footer .copyright {
  margin-top: 6rem;
  padding-top: 1rem;
}
.site-footer .credits {
  justify-content: flex-start;
}
@media screen and (min-width: 768px) {
  .site-footer .credits {
    justify-content: flex-end;
  }
}

section.feedback-and-news {
  padding: 3rem 0;
  gap: 2rem;
}
@media screen and (min-width: 768px) {
  section.feedback-and-news {
    padding: 6rem 0;
  }
}
section.feedback-and-news .feedback,
section.feedback-and-news .news {
  border: 3px solid #b68335;
  padding: 2rem;
}
section.feedback-and-news .feedback .headline h3,
section.feedback-and-news .news .headline h3 {
  font-weight: bold;
  color: #191549;
}
section.feedback-and-news .feedback .copy,
section.feedback-and-news .news .copy {
  color: #191549;
}
@media screen and (min-width: 768px) {
  section.feedback-and-news .feedback {
    grid-column: 2/span 4;
  }
}
@media screen and (min-width: 992px) {
  section.feedback-and-news .feedback {
    grid-column: 2/span 8;
  }
}
@media screen and (min-width: 768px) {
  section.feedback-and-news .news {
    grid-column: 6/span 4;
  }
}
@media screen and (min-width: 992px) {
  section.feedback-and-news .news {
    grid-column: 10/span 4;
  }
}

.counter {
  padding-bottom: 1.5rem;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  display: flex;
  justify-content: center;
}
.counter__wrapper {
  border: 1px solid #b68335;
  display: flex;
  justify-content: center;
  padding: 0.5rem 0.75rem;
}
.counter span {
  padding-right: 0.5rem;
  font-weight: bold;
}
.counter p {
  font-weight: bold;
}

body.page-template-homepage.nav-open .site-header {
  background: #191549;
}
body.page-template-homepage.nav-open .site-header .site-nav .top-level-link {
  color: #fff;
}
body.page-template-homepage.nav-open .site-header .site-nav .top-level-link:hover {
  border-color: #fff;
}
body.page-template-homepage.nav-open .site-header .site-nav .cta .btn {
  border-color: #fff;
  color: #fff;
}
body.page-template-homepage.nav-open .site-header .site-nav .cta .btn:hover {
  background: #fff;
  color: #191549;
}
body.page-template-homepage.nav-open .site-header .hamburger .buns .patty {
  background: transparent;
}
body.page-template-homepage.nav-open .site-header .hamburger .buns .patty:before, body.page-template-homepage.nav-open .site-header .hamburger .buns .patty:after {
  background: #fff;
}
@media screen and (min-width: 768px) {
  body.page-template-homepage section.home-hero {
    align-items: flex-end;
  }
}
body.page-template-homepage section.home-hero .project-info {
  color: #fff;
  padding-bottom: 2rem;
}
body.page-template-homepage section.home-hero .project-info h2 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: clamp(0.75rem, 1.2vw, 1.125rem);
  letter-spacing: 0.1em;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
body.page-template-homepage section.home-hero .project-info h1 {
  font-weight: 900;
  font-size: clamp(1.25rem, 2vw, 2.5rem);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}
@media screen and (min-width: 768px) {
  body.page-template-homepage section.home-hero .project-info h1 {
    font-size: clamp(2.5rem, 4vw, 3.5rem);
  }
}
body.page-template-homepage section.home-hero .project-info h5 {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-size: clamp(1.125rem, 1.5vw, 1.5rem);
  font-weight: bold;
}
body.page-template-homepage section.about-site {
  padding: 3rem 0;
  background: transparent;
}
@media screen and (min-width: 992px) {
  body.page-template-homepage section.about-site {
    padding: 4rem 0;
  }
}
body.page-template-homepage section.about-site .ctas {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 1rem;
}
@media screen and (min-width: 992px) {
  body.page-template-homepage section.about-site .ctas {
    grid-column: 3/span 10;
  }
}
body.page-template-homepage section.about-site .ctas .cta {
  margin-right: 2rem;
}
body.page-template-homepage .timeline {
  background: #F7F9FB;
}
body.page-template-homepage section.atlas {
  padding: 0 0 3rem 0;
}
@media screen and (min-width: 768px) {
  body.page-template-homepage section.atlas {
    padding: 6rem 0 6rem 0;
  }
}
body.page-template-homepage section.atlas .map {
  margin-top: 3rem;
  position: relative;
}
body.page-template-homepage section.atlas .map:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 150%;
}
body.page-template-homepage section.atlas .map > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body.page-template-homepage section.atlas .map img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  body.page-template-homepage section.atlas .map {
    grid-column: 2/span 5;
    grid-row: 1;
    margin-top: 0;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-homepage section.atlas .map {
    grid-column: 2/span 8;
  }
}
@media screen and (min-width: 768px) {
  body.page-template-homepage section.atlas .legend {
    grid-column: 7/span 3;
    grid-row: 1;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-homepage section.atlas .legend {
    grid-column: 10/span 4;
  }
}
body.page-template-homepage section.atlas .legend .headline h3 {
  font-weight: 700;
  color: #191549;
  font-size: clamp(1.5rem, 1.5vw, 1.75rem);
  line-height: 1.25em;
}
body.page-template-homepage section.atlas .legend .entries {
  padding-top: 2rem;
  counter-reset: legend;
}
body.page-template-homepage section.atlas .legend .entries .entry + .entry {
  padding-top: 3rem;
}
body.page-template-homepage section.atlas .legend .entries .name {
  display: flex;
  align-items: center;
  padding-bottom: 0.5rem;
}
body.page-template-homepage section.atlas .legend .entries .name:before {
  counter-increment: legend;
  content: counter(legend);
  width: 2rem;
  height: 2rem;
  background: #191549;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
}
body.page-template-homepage section.atlas .legend .entries .name h4 {
  padding-left: 0.5rem;
  font-weight: bold;
  font-size: clamp(1.25rem, 1.3vw, 1.5rem);
}
body.page-template-homepage section.atlas .legend .entries .cta {
  padding-top: 1rem;
}
body.page-template-homepage section.news {
  background: #fafafa;
  padding: 3rem 0;
}
@media screen and (min-width: 768px) {
  body.page-template-homepage section.news {
    padding: 6rem 0;
  }
}
body.page-template-homepage section.news .section-header h3 {
  color: #191549;
}
body.page-template-homepage section.news .news-items {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(1, 1fr);
}
@media screen and (min-width: 480px) {
  body.page-template-homepage section.news .news-items {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 768px) {
  body.page-template-homepage section.news .news-items {
    grid-template-columns: repeat(3, 1fr);
  }
}
body.page-template-homepage section.news article .photo {
  position: relative;
}
body.page-template-homepage section.news article .photo:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
body.page-template-homepage section.news article .photo > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body.page-template-homepage section.news article .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body.page-template-homepage section.news article .photo a {
  display: block;
  width: 100%;
  height: 100%;
}
body.page-template-homepage section.news article .info {
  padding-top: 1rem;
}
body.page-template-homepage section.news article .info .date {
  padding-bottom: 0.5rem;
}
body.page-template-homepage section.news article .info .date h5 {
  text-transform: uppercase;
  font-size: clamp(0.675rem, 0.7vw, 0.75rem);
  letter-spacing: 0.05em;
}
body.page-template-homepage section.news article .info .headline h4 {
  font-weight: bold;
  font-size: clamp(1rem, 1.1vw, 1.125rem);
}

body.page-template-dod-projects section.summary {
  gap: 2rem;
}
body.page-template-dod-projects section.summary h3 {
  color: #191549;
}
@media screen and (min-width: 768px) {
  body.page-template-dod-projects section.summary .info {
    grid-column: 2/span 4;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-dod-projects section.summary .info {
    grid-column: 2/span 7;
  }
}
body.page-template-dod-projects section.summary .sidebar {
  background: #eee;
  padding: 2rem;
}
@media screen and (min-width: 768px) {
  body.page-template-dod-projects section.summary .sidebar {
    grid-column: 6/span 4;
    padding: 3rem;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-dod-projects section.summary .sidebar {
    grid-column: 10/span 4;
  }
}
body.page-template-dod-projects section.summary .sidebar p {
  line-height: 1.75em;
}
body.page-template-dod-projects section.projects {
  padding: 3rem 0;
  background: #fafafa;
  margin-top: 3rem;
}
@media screen and (min-width: 768px) {
  body.page-template-dod-projects section.projects {
    padding: 6rem 0;
    margin-top: 6rem;
  }
}
body.page-template-dod-projects section.projects .section-header {
  text-align: center;
  padding-bottom: 2rem;
}
body.page-template-dod-projects section.projects .section-header h3 {
  color: #191549;
  font-size: clamp(2rem, 2.25vw, 3rem);
}
body.page-template-dod-projects section.projects .projects-grid {
  display: grid;
  gap: 4rem 2rem;
}
@media screen and (min-width: 480px) {
  body.page-template-dod-projects section.projects .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 768px) {
  body.page-template-dod-projects section.projects .projects-grid .project {
    text-align: center;
  }
}
body.page-template-dod-projects section.projects .projects-grid .project .headline {
  padding: 1rem 0 0.25rem 0;
}
body.page-template-dod-projects section.projects .projects-grid .project .headline h4 {
  font-weight: bold;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  line-height: 1.25em;
}
body.page-template-dod-projects section.projects .projects-grid .project .cta {
  padding-top: 1rem;
}
body.page-template-dod-projects section.projects .projects-grid #cjmt {
  grid-column: 1/-1;
  border: 3px solid #b68335;
  padding: 2rem;
}
@media screen and (min-width: 768px) {
  body.page-template-dod-projects section.projects .projects-grid #cjmt {
    display: flex;
    align-items: center;
    text-align: left;
  }
  body.page-template-dod-projects section.projects .projects-grid #cjmt .map {
    max-width: 24rem;
  }
  body.page-template-dod-projects section.projects .projects-grid #cjmt .info {
    flex: 1;
    padding-left: 3rem;
  }
}

body.page-template-project .site-header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: auto;
  background: rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease;
}
body.page-template-project .site-header .site-nav .top-level-link {
  color: #fff;
}
body.page-template-project .site-header .site-nav .top-level-link:hover {
  border-color: #fff;
}
body.page-template-project .site-header .site-nav .cta .btn {
  border-color: #fff;
  color: #fff;
}
body.page-template-project .site-header .site-nav .cta .btn:hover {
  background: #fff;
  color: #191549;
}
body.page-template-project .site-header .hamburger .buns .patty {
  background: #fff;
}
body.page-template-project .site-header .hamburger .buns .patty:before, body.page-template-project .site-header .hamburger .buns .patty:after {
  background: #fff;
}
@media screen and (min-width: 992px) {
  body.page-template-project .site-header .search-toggle svg path {
    fill: #fff;
  }
}
body.page-template-project.nav-open .site-header {
  background: #191549;
}
body.page-template-project.nav-open .site-header .hamburger .buns .patty {
  background: transparent;
}
body.page-template-project section.hero {
  align-items: end;
}
body.page-template-project section.hero .photo {
  grid-row: 1;
  grid-column: 1/-1;
  position: relative;
  max-height: 90vh;
}
body.page-template-project section.hero .photo:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 75%;
}
body.page-template-project section.hero .photo > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body.page-template-project section.hero .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 768px) {
  body.page-template-project section.hero .photo {
    position: relative;
  }
  body.page-template-project section.hero .photo:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 56.25%;
  }
  body.page-template-project section.hero .photo > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
@media screen and (min-width: 1280px) {
  body.page-template-project section.hero .photo {
    position: relative;
    max-height: 70vh;
  }
  body.page-template-project section.hero .photo:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 50%;
  }
  body.page-template-project section.hero .photo > .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}
body.page-template-project section.hero .photo img {
  -o-object-position: center center;
     object-position: center center;
}
body.page-template-project section.hero .hero-info {
  grid-row: 1;
  z-index: 10;
  padding-bottom: 2rem;
}
body.page-template-project section.hero .hero-info .headline {
  display: block;
  padding: 0;
}
body.page-template-project section.hero .hero-info h1 {
  padding: 0.5rem 0 1rem 0;
}
body.page-template-project section.overview {
  gap: 2rem;
  padding: 3rem 0 3rem 0;
}
@media screen and (min-width: 992px) {
  body.page-template-project section.overview {
    padding: 3rem 0 6rem 0;
  }
}
body.page-template-project section.overview h3 {
  color: #191549;
}
@media screen and (min-width: 768px) {
  body.page-template-project section.overview .info {
    grid-column: 2/span 4;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-project section.overview .info {
    grid-column: 2/span 7;
  }
}
body.page-template-project section.overview .sidebar {
  background: #eee;
  padding: 2rem;
  align-self: start;
}
@media screen and (min-width: 768px) {
  body.page-template-project section.overview .sidebar {
    grid-column: 6/span 4;
    padding: 3rem;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-project section.overview .sidebar {
    grid-column: 10/span 4;
  }
}
body.page-template-project section.overview .sidebar p, body.page-template-project section.overview .sidebar li {
  line-height: 1.75em;
}
body.page-template-project section.overview .sidebar ul, body.page-template-project section.overview .sidebar ol {
  padding-left: 1rem;
}
body.page-template-project nav.breadcrumbs {
  padding-top: 2rem;
}
body.page-template-project nav.breadcrumbs + .overview {
  padding-top: 0;
}
body.page-template-project section.map .photo {
  grid-column: 1/-1;
  grid-row: 1;
  position: relative;
}
body.page-template-project section.map .photo:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}
body.page-template-project section.map .photo > .content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
body.page-template-project section.map .photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body.page-template-project section.map .caption {
  grid-row: 1;
  z-index: 1;
  padding-top: 2rem;
}
@media screen and (min-width: 768px) {
  body.page-template-project section.map .caption {
    grid-column: 6/span 4;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-project section.map .caption {
    padding-top: 4rem;
    grid-column: 10/span 4;
  }
}
body.page-template-project section.map .caption-wrapper {
  background: #fff;
  padding: 2rem;
  font-style: italic;
}
body.page-template-project section.impacts {
  padding: 3rem 0;
}
@media screen and (min-width: 992px) {
  body.page-template-project section.impacts {
    padding: 6rem 0;
  }
}
body.page-template-project section.impacts .section-header {
  padding-bottom: 3rem;
}
body.page-template-project section.impacts .section-header h3 {
  font-weight: 700;
  color: #191549;
  font-size: clamp(1.5rem, 1.5vw, 1.75rem);
  line-height: 1.25em;
}
body.page-template-project section.impacts .impacts-grid {
  display: grid;
  gap: 4rem;
}
@media screen and (min-width: 768px) {
  body.page-template-project section.impacts .impacts-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
body.page-template-project section.impacts .impact .headline {
  padding-bottom: 0.5rem;
}
body.page-template-project section.impacts .impact .headline h4 {
  font-weight: bold;
  color: #191549;
  font-size: clamp(1.125rem, 1.25vw, 1.25rem);
  line-height: 1.25em;
}

body.page-template-review-resources section.overview {
  gap: 2rem;
  padding: 0 0 3rem 0;
}
@media screen and (min-width: 992px) {
  body.page-template-review-resources section.overview {
    padding: 0 0 6rem 0;
  }
}
body.page-template-review-resources section.overview h3 {
  color: #191549;
}
@media screen and (min-width: 768px) {
  body.page-template-review-resources section.overview .info {
    grid-column: 2/span 4;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-review-resources section.overview .info {
    grid-column: 2/span 7;
  }
}
body.page-template-review-resources section.overview .sidebar {
  background: #eee;
  padding: 2rem;
  align-self: start;
}
@media screen and (min-width: 768px) {
  body.page-template-review-resources section.overview .sidebar {
    grid-column: 6/span 4;
    padding: 3rem;
  }
}
@media screen and (min-width: 992px) {
  body.page-template-review-resources section.overview .sidebar {
    grid-column: 10/span 4;
  }
}
body.page-template-review-resources section.overview .sidebar p, body.page-template-review-resources section.overview .sidebar li {
  line-height: 1.75em;
  font-size: 0.875rem;
}
body.page-template-review-resources section.overview .sidebar ul, body.page-template-review-resources section.overview .sidebar ol {
  padding-left: 1rem;
}
body.page-template-review-resources section.review-processes {
  padding: 3rem 0;
  background: #fafafa;
}
@media screen and (min-width: 768px) {
  body.page-template-review-resources section.review-processes {
    padding: 6rem 0;
  }
}
body.page-template-review-resources section.review-processes .process-grid {
  display: grid;
  gap: 4rem 2rem;
}
@media screen and (min-width: 768px) {
  body.page-template-review-resources section.review-processes .process-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 992px) {
  body.page-template-review-resources section.review-processes .process-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
  }
}
body.page-template-review-resources section.review-processes .process .headline h4 {
  font-weight: bold;
  color: #191549;
  font-size: clamp(1rem, 1.1vw, 1.125rem);
  line-height: 1.25em;
}

body.page-template-resources .content-header {
  padding-top: 0;
}
@media screen and (min-width: 992px) {
  body.page-template-resources section.filter form {
    grid-column: 2/span 5;
  }
}
body.page-template-resources section.filter #documents-filter {
  border-bottom: 2px solid #191549;
}
body.page-template-resources section.documents {
  align-items: start;
}
body.page-template-resources .documents-categories {
  background: #b68335;
  color: #fff;
  margin-bottom: 3rem;
  max-width: 400px;
}
@media screen and (min-width: 992px) {
  body.page-template-resources .documents-categories {
    margin-bottom: 0;
    padding-bottom: 4rem;
  }
}
body.page-template-resources .documents-categories a {
  color: #fff;
}
body.page-template-resources .documents-list table thead {
  background: #191549;
  color: #fff;
  text-align: left;
}
body.page-template-resources .documents-list table .category {
  width: 10rem;
}
body.page-template-resources .documents-list table .title {
  width: auto;
}
body.page-template-resources .documents-list table .file {
  width: 10rem;
}
body.page-template-resources .documents-list table .date {
  width: auto;
  text-align: left;
}
body.page-template-resources .documents-list .file + .header-row .cat-header {
  padding-top: 3rem;
}
body.page-template-resources .documents-list .grouped .file a {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
}

.posts-archive {
  padding-top: 0;
}
.posts-archive .year h4 {
  font-weight: bold;
}
.posts-archive .month-header h5 {
  font-weight: bold;
  font-size: clamp(1rem, 1.1vw, 1.125rem);
}
.posts-archive .post .post-date {
  font-style: italic;
}
.posts-archive .subscribe {
  background: #191549;
  color: #fff;
}
@media screen and (min-width: 992px) {
  .posts-archive .subscribe {
    grid-row: 2/span 3;
    align-self: start;
  }
}
.posts-archive .subscribe .submit input {
  background: #b68335;
  color: #fff;
  border: none;
}

body.page-template-get-involved .content-header {
  padding-top: 0;
}
body.page-template-get-involved section.events .event .cal .month {
  background: #b68335;
}
body.page-template-get-involved section.events .event .cal .day {
  border-color: #b68335;
}
body.page-template-get-involved section.events .event .meta .event-btn {
  display: inline-block;
  background: #191549;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.6125rem 0.5rem 0.5rem 0.75rem;
  text-align: center;
  border-radius: 3px;
}
body.page-template-get-involved section.events .event .meta .event-btn:hover {
  text-decoration: none;
}
body.page-template-get-involved aside.sidebar {
  padding-top: 0;
  margin-top: 3rem;
}
@media screen and (min-width: 992px) {
  body.page-template-get-involved aside.sidebar {
    margin-top: 0;
  }
}
body.page-template-get-involved .subscribe {
  background: #191549;
  color: #fff;
  margin-top: 0;
}
body.page-template-get-involved .subscribe .submit input {
  background: #b68335;
  color: #fff;
  border: none;
}
body.page-template-get-involved .contact-us .headline h5 {
  font-weight: bold;
  color: #191549;
}
body.page-template-get-involved .contact-us a {
  color: #191549;
  text-decoration: underline;
}

@media screen and (min-width: 992px) {
  body.page-template-default .default-content .copy {
    grid-column: 2/span 9;
  }
}
body.page-template-default .default-content .copy * + * {
  padding-top: 2rem;
}
body.page-template-default .default-content .copy h1, body.page-template-default .default-content .copy h2, body.page-template-default .default-content .copy h3, body.page-template-default .default-content .copy h4, body.page-template-default .default-content .copy h5, body.page-template-default .default-content .copy h6 {
  font-weight: bold;
}
body.page-template-default .default-content .copy h1 + *, body.page-template-default .default-content .copy h2 + *, body.page-template-default .default-content .copy h3 + *, body.page-template-default .default-content .copy h4 + *, body.page-template-default .default-content .copy h5 + *, body.page-template-default .default-content .copy h6 + * {
  padding-top: 0.5rem;
}
body.page-template-default .default-content .copy h1 {
  font-size: clamp(1.5rem, 2vw, 2rem);
}
body.page-template-default .default-content .copy h2 {
  font-size: clamp(1.375rem, 1.7vw, 1.75rem);
}
body.page-template-default .default-content .copy h3 {
  font-size: clamp(1.25rem, 1.5vw, 1.5rem);
}
body.page-template-default .default-content .copy h4 {
  font-size: clamp(1.125rem, 1.25vw, 1.25rem);
}
body.page-template-default .default-content .copy h5 {
  font-size: clamp(1rem, 1vw, 1.125rem);
}
body.page-template-default .default-content .copy h6 {
  font-size: clamp(0.875rem, 0.8vw, 1rem);
}

body.search-results .archived-posts.search-results,
body.search-no-results .archived-posts.search-results {
  background: #fafafa;
}
@media screen and (min-width: 992px) {
  body.search-results .archived-posts.search-results,
  body.search-no-results .archived-posts.search-results {
    padding-top: 3rem;
    margin-top: 3rem;
  }
}
@media screen and (min-width: 992px) {
  body.search-results .archived-posts.search-results > *,
  body.search-no-results .archived-posts.search-results > * {
    grid-column: 4/span 8;
  }
}
body.search-results .archived-posts.search-results .page-header,
body.search-no-results .archived-posts.search-results .page-header {
  padding-bottom: 2rem;
}
body.search-results .archived-posts.search-results .page-header h1,
body.search-no-results .archived-posts.search-results .page-header h1 {
  line-height: 1em;
  padding-bottom: 0;
}
body.search-results .archived-posts.search-results .page-header .results-count,
body.search-no-results .archived-posts.search-results .page-header .results-count {
  font-style: italic;
}
body.search-results .archived-posts.search-results .search-form,
body.search-no-results .archived-posts.search-results .search-form {
  display: flex;
  align-items: stretch;
}
body.search-results .archived-posts.search-results .search-form .search-field,
body.search-no-results .archived-posts.search-results .search-form .search-field {
  height: 100%;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 0 0.5rem;
  font-size: 0.875rem;
  width: 12rem;
}
body.search-results .archived-posts.search-results .search-form .search-field::-webkit-input-placeholder,
body.search-no-results .archived-posts.search-results .search-form .search-field::-webkit-input-placeholder {
  color: #b5b5b5;
}
body.search-results .archived-posts.search-results .search-form .search-field::-moz-placeholder,
body.search-no-results .archived-posts.search-results .search-form .search-field::-moz-placeholder {
  color: #b5b5b5;
}
body.search-results .archived-posts.search-results .search-form .search-field:-moz-placeholder,
body.search-no-results .archived-posts.search-results .search-form .search-field:-moz-placeholder {
  color: #b5b5b5;
}
body.search-results .archived-posts.search-results .search-form .search-field:-ms-input-placeholder,
body.search-no-results .archived-posts.search-results .search-form .search-field:-ms-input-placeholder {
  color: #b5b5b5;
}
body.search-results .archived-posts.search-results .search-form .search-submit,
body.search-no-results .archived-posts.search-results .search-form .search-submit {
  display: block;
  background: #191549;
  border: none;
  color: #fff;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.1em;
  font-weight: bold;
  border-radius: 4px;
  margin-left: 0.5rem;
}
body.search-results .archived-posts.search-results .search-results-list,
body.search-no-results .archived-posts.search-results .search-results-list {
  min-height: 50vh;
  margin-top: 3rem;
  border-top: 5px solid #191549;
  padding-bottom: 3rem;
}
body.search-results .archived-posts.search-results .search-result-listing,
body.search-no-results .archived-posts.search-results .search-result-listing {
  padding: 3rem 0;
}
body.search-results .archived-posts.search-results .search-result-listing + .search-result-listing,
body.search-no-results .archived-posts.search-results .search-result-listing + .search-result-listing {
  border-top: 1px solid #d5d5d5;
}
body.search-results .archived-posts.search-results .search-result-listing h5,
body.search-no-results .archived-posts.search-results .search-result-listing h5 {
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.75rem;
}
body.search-results .pagination,
body.search-no-results .pagination {
  border-top: 2px solid #191549;
  padding: 2rem 0 0 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
body.search-results .pagination a,
body.search-no-results .pagination a {
  font-weight: bold;
  display: block;
  padding: 0.5rem 0.75rem;
  border: 2px solid;
  margin: 0 0.5rem;
  font-size: 0.875rem;
  border-radius: 3px;
}
body.search-results .pagination a:hover,
body.search-no-results .pagination a:hover {
  background: #191549;
  color: #fff;
  text-decoration: none;
  border: 2px solid #191549;
}
body.search-results .pagination span.current,
body.search-no-results .pagination span.current {
  font-weight: bold;
  display: block;
  padding: 0.5rem 0.75rem;
  border: 2px solid #191549;
  margin: 0 0.5rem;
  color: #fff;
  background: #191549;
  font-size: 0.875rem;
  border-radius: 3px;
}