.counter {
    padding-bottom: 1.5rem;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    display: flex;
    justify-content: center;

    &__wrapper {
        border: 1px solid $gold;
        display: flex;
        justify-content: center;
        padding: 0.5rem 0.75rem;
    }

    span {
        padding-right: 0.5rem;
        font-weight: bold;
    }

    p {
        font-weight: bold;
    }
}
