section.feedback-and-news {
    padding: 3rem 0;
    gap: 2rem;

    @include tablet {
        padding: 6rem 0;
    }

    .feedback,
    .news {
        border: 3px solid $orange;
        padding: 2rem;

        .headline {
            h3 {
                font-weight: bold;
                color: $light-purple;
            }
        }

        .copy {
            color: $light-purple;
        }
    }

    .feedback {
        @include tablet {
            grid-column: 2 / span 4;
        }

        @include desktop-small {
            grid-column: 2 / span 8;
        }
    }

    .news {
        @include tablet {
            grid-column: 6 / span 4;
        }

        @include desktop-small {
            grid-column: 10 / span 4;
        }
    }



}