body,
button,
input,
select,
optgroup,
textarea {
    font-family: $open-sans;
    color: $purple;
}

a {
    color: $light-purple;
}

.site-content {
    .hero {
        .headline {
            h1,
            h2,
            h3,
            h4,
            h5,
            h6 {
                color: $white;
            }

            h1 {
                text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
            }
        }
    }

    a:hover {
        text-decoration: underline;
    }
}

.headline {
    padding-bottom: 1rem;

    h1 {
        font-size: 1.75rem;
        line-height: 1.25em;
        font-weight: bold;

        @include desktop-small {
            font-size: 2.25rem;
        }

        &.small {
            font-size: 1.5rem;

            @include desktop-small {
                font-size: 2rem;
            }
        }
    }

    h2 {
        font-size: 1.5rem;
        line-height: 1.25em;
        font-weight: bold;

        @include desktop-small {
            font-size: 1.75rem;
        }
    }

    h3 {
        font-size: 1.25rem;
        line-height: 1.25em;
        font-weight: bold;

        @include desktop-small {
            font-size: 1.5rem;
        }
    }
}

.p1 {
    font-size: clamp(0.9375rem, 1.1vw, 1.125rem);
    line-height: 1.5em;

    > * + * {
        padding-top: 2rem;
    }
}

.p2 {
    font-size: clamp(0.75rem, 0.9vw, 0.875rem);
    line-height: 1.5em;

    > * + * {
        padding-top: 2rem;
    }
}

.p3 {
    font-size: clamp(0.6125rem, 0.9vw, 0.75rem);
    line-height: 1.5em;

    > * + * {
        padding-top: 2rem;
    }
}
