section.overview {
    gap: 2rem;
    padding: 0 0 3rem 0;

    @include desktop-small {
        padding: 0 0 6rem 0;
    }

    h3 {
        color: $purple;
    }

    .info {
        @include tablet {
            grid-column: 2 / span 4;
        }

        @include desktop-small {
            grid-column: 2 / span 7;
        }
    }

    .sidebar {
        background: #eee;
        padding: 2rem;
        align-self: start;

        @include tablet {
            grid-column: 6 / span 4;
            padding: 3rem;
        }

        @include desktop-small {
            grid-column: 10 / span 4;
        }

        p, li {
            line-height: 1.75em;
            font-size: 0.875rem;
        }

        ul, ol {
            padding-left: 1rem;
        }
    }



}