section.review-processes {
    padding: 3rem 0;
    background: #fafafa;

    @include tablet {
        padding: 6rem 0;
    }

    .process-grid {
        display: grid;
        gap: 4rem 2rem;

        @include tablet {
            grid-template-columns: repeat(2, 1fr);
        }

        @include desktop-small {
            grid-template-columns: repeat(3, 1fr);
            gap: 4rem;
        }
    }

    .process {
        .headline {
            h4 {
                font-weight: bold;
                color: $purple;
                font-size: clamp(1rem, 1.1vw, 1.125rem);
                line-height: 1.25em;
            }
        }

    }


}