section.about-site {
    padding: 3rem 0;
    background: transparent;

    @include desktop-small {
        padding: 4rem 0;
    }

    .ctas {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        padding-top: 1rem;
        
        @include desktop-small {
            grid-column: 3 / span 10;
        }

        .cta {
            margin-right: 2rem;
        }
    }
}