section.atlas {
    padding: 0 0 3rem 0;

    @include tablet {
        padding: 6rem 0 6rem 0;
    }

    .map {
        margin-top: 3rem;
        @include aspect-ratio(2, 3);
        @include cover-fill-image;

        @include tablet {
            grid-column: 2 / span 5;
            grid-row: 1;
            margin-top: 0;
        }

        @include desktop-small {
            grid-column: 2 / span 8;
        }

    }

    .legend {
        @include tablet {
            grid-column: 7 / span 3;
            grid-row: 1;
        }

        @include desktop-small {
            grid-column: 10 / span 4;
        }

        .headline {
            h3 {
                font-weight: 700;
                color: $purple;
                font-size: clamp(1.5rem, 1.5vw, 1.75rem);
                line-height: 1.25em;
            }
        }

        .entries {
            padding-top: 2rem;
            counter-reset: legend;

            .entry {
                & + .entry {
                    padding-top: 3rem;
                }
            }
            
            .name {
                display: flex;
                align-items: center;
                padding-bottom: 0.5rem;

                &:before {
                    counter-increment: legend;
                    content: counter(legend);
                    width: 2rem;
                    height: 2rem;
                    background: $light-purple;
                    color: $white;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 1rem;
                }

                h4 {
                    padding-left: 0.5rem;
                    font-weight: bold;
                    font-size: clamp(1.25rem, 1.3vw, 1.5rem);

                    a {

                    }
                }
            }

            .cta {
                padding-top: 1rem;
            }
        }
    }
}