section.home-hero {
    @include tablet {
        align-items:  flex-end;
    }
    .project-info {
        color: $white;
        padding-bottom: 2rem;

        h2 {
            text-transform: uppercase;
            font-weight: 400;
            font-size: clamp(0.75rem, 1.2vw, 1.125rem);
            letter-spacing: 0.1em;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

        }

        h1 {
            font-weight: 900;
            font-size: clamp(1.25rem, 2vw, 2.5rem);
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

            @include tablet {
                font-size: clamp(2.5rem, 4vw, 3.5rem);

            }

        }

        h5 {
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
            font-size: clamp(1.125rem, 1.5vw, 1.5rem);
            font-weight: bold;

        }
    }
} 