section.news {
    background: #fafafa;
    padding: 3rem 0;

    @include tablet {
        padding: 6rem 0;
    }

    .section-header {
        h3 {
            color: $purple;
        }
    }


    .news-items {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(1, 1fr);

        @include tablet-small {
            grid-template-columns: repeat(2, 1fr);
        }

        @include tablet {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    article {
        .photo {
            @include aspect-ratio(16, 9);
            @include cover-fill-image;

            a {
                display: block;
                width: 100%;
                height: 100%;
            }
        }

        .info {
            padding-top: 1rem;

            .date {
                padding-bottom: 0.5rem;
                h5 {
                    text-transform: uppercase;
                    font-size: clamp(0.675rem, 0.7vw, 0.75rem);
                    letter-spacing: 0.05em;
                }
            }

            .headline {
                h4 {
                    font-weight: bold;
                    font-size: clamp(1rem, 1.1vw, 1.125rem);
                }
            }
        }
    }

}