body.page-template-get-involved {

    .content-header {
        padding-top: 0;
    }

    section.events .event {
        .cal {
            .month {
                background: $gold;
            }

            .day {
                border-color: $gold;
            }
        }

        .meta .event-btn {
            display: inline-block;
            background: $purple;
            color: $white;
            text-transform: uppercase;
            letter-spacing: 0.1em;
            font-size: 0.75rem;
            font-weight: bold;
            padding: 0.6125rem 0.5rem 0.5rem 0.75rem;
            text-align: center;
            border-radius: 3px;

            &:hover {
                text-decoration: none;
            }
        }

    }

    aside.sidebar {
        padding-top: 0;
        margin-top: 3rem;

        @include desktop-small {
            margin-top: 0;
        }

    }

    .subscribe {
        background: $purple;
        color: $white;
        margin-top: 0;

        .submit {
            input {
                background: $gold;
                color: $white;
                border: none;
            }
        }
    }

    .contact-us {
        .headline {
            h5 {
                font-weight: bold;
                color: $purple;
            }
        }

        a {
            color: $purple;
            text-decoration: underline;
        }
    }

}