body.page-template-homepage {
    &.nav-open {
        .site-header {
            background: $light-purple;
    
            .site-nav {
                .top-level-link {
                    color: $white;
    
                    &:hover {
                        border-color: $white
                    }
                }
    
                .cta {
                    .btn {
                        border-color: $white;
                        color: $white;
    
                        &:hover {
                            background: $white;
                            color: $light-purple;
                        }
                    }
                }
            }
    
            .hamburger {
                .buns {
                    .patty {
                        background: transparent;
    
                        &:before,
                        &:after {
                            background: $white;
                        }
                    }
                }
            }
    
    
        }
    }

    @import 'homepage/hero';

    @import 'homepage/about-site';

    .timeline {
        background: #F7F9FB;
    }

    @import 'homepage/atlas';

    @import 'homepage/news';

}