.posts-archive {
    padding-top: 0;
    
    .year {
        h4 {
            font-weight: bold;
        }
    }

    .month-header {
        h5 {
            font-weight: bold; 
            font-size: clamp(1rem, 1.1vw, 1.125rem);
        }
    }

    .post {
        .post-date {
            font-style: italic;
        }
    }

    .subscribe {
        background: $purple;
        color: $white;
        @include desktop-small {
            grid-row: 2 / span 3;
            align-self: start;
        }

        .submit {
            input {
                background: $gold;
                color: $white;
                border: none;
            }
        }
    }
}