body.page-template-default {

    .default-content {
        
        .copy {
            @include desktop-small {
                grid-column: 2 / span 9;
            }

            * + * {
                padding-top: 2rem;
            }

            h1, h2, h3, h4, h5, h6 {
                font-weight: bold;

                & + * {
                    padding-top: 0.5rem;
                }
            }

            h1 {
                font-size: clamp(1.5rem, 2vw, 2rem);
            }

            h2 {
                font-size: clamp(1.375rem, 1.7vw, 1.75rem);
            }

            h3 {
                font-size: clamp(1.25rem, 1.5vw, 1.5rem);
            }

            h4 {
                font-size: clamp(1.125rem, 1.25vw, 1.25rem);
            }

            h5 {
                font-size: clamp(1rem, 1vw, 1.125rem);
            }

            h6 {
                font-size: clamp(0.875rem, 0.8vw, 1rem);
            }
        }
    }


}