body.page-template-resources {
    .content-header {
        padding-top: 0;
    }

    section.filter {
        form {
            @include desktop-small {
                grid-column: 2 / span 5;
            }
        }

        #documents-filter {
            border-bottom: 2px solid $purple;
        }
    }

    section.documents {
        align-items: start;
    }

    .documents-categories {
        background: $orange;
        color: $white;
        margin-bottom: 3rem;
        max-width: 400px;

        @include desktop-small {
            margin-bottom: 0;
            padding-bottom: 4rem;
        }

        a {
            color: $white;
        }
    }

    .documents-list {
        table {
            thead {
                background: $purple;
                color: $white;
                text-align: left;
            }

            .category {
                width: 10rem;
            }

            .title {
                width: auto;
            }

            .file {
                width: 10rem;
            }

            .date {
                width: auto;
                text-align: left;
            }
        }

        .file + .header-row {
            .cat-header {
                padding-top: 3rem;
            }
        }

        .grouped {
            .file {
                a {
                    display: block;
                    width: 100%;
                    margin-bottom: 0.5rem;
                }
            }
        }
    }
}
