body.search-results,
body.search-no-results {
    .archived-posts.search-results {
        background: #fafafa;

        @include desktop-small {
            padding-top: 3rem;
            margin-top: 3rem;

        }

        & > * {
            @include desktop-small {
                grid-column: 4 / span 8;
            }
        }


        .page-header {
            padding-bottom: 2rem;


            h1 {
                line-height: 1em;
                padding-bottom: 0;
            }

            .results-count {
                font-style: italic;
            }
        }

        .search-form {
            display: flex;
            align-items: stretch;
    
            .search-field {
                height: 100%;
                border-radius: 4px;
                border: 1px solid rgba(0, 0, 0, 0.4);
                padding: 0 0.5rem;
                font-size: 0.875rem;
                width: 12rem;
    
                @include placeholder {
                    color: #b5b5b5;
                }
            }
    
            .search-submit {
                display: block;
                background: $purple;
                border: none;
                color: $white;
                padding: 0.5rem 1rem;
                text-transform: uppercase;
                font-size: 0.75rem;
                letter-spacing: 0.1em;
                font-weight: bold;
                border-radius: 4px;
                margin-left: 0.5rem;
            }
        }


        .search-results-list {
            min-height: 50vh;
            margin-top: 3rem;
            border-top: 5px solid $purple;
            padding-bottom: 3rem;
        }

        .search-result-listing {
            padding: 3rem 0;

            & + .search-result-listing {
                border-top: 1px solid #d5d5d5;
            }

            h5 {
                text-transform: uppercase;
                letter-spacing: 0.1em;
                font-size: 0.75rem;
            }
        }


    }

    .pagination {
        border-top: 2px solid $purple;
        padding: 2rem 0 0 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    
        a {
            font-weight: bold;
            display: block;
            padding: 0.5rem 0.75rem;
            border: 2px solid;
            margin: 0 0.5rem;
            font-size: 0.875rem;
            border-radius: 3px;
    
            &:hover {
                background: $purple;
                color: $white;
                text-decoration: none;
                border: 2px solid $purple;
            }
        }
        
        span.current {
            font-weight: bold;
            display: block;
            padding: 0.5rem 0.75rem;
            border: 2px solid $purple;
            margin: 0 0.5rem;
            color: $white;
            background: $purple;
            font-size: 0.875rem;
            border-radius: 3px;
        }
    }

}