section.projects {
    padding: 3rem 0;
    background: #fafafa;
    margin-top: 3rem;

    @include tablet {
        padding: 6rem 0;
        margin-top: 6rem;
    }

    .section-header {
        text-align: center;
        padding-bottom: 2rem;

        h3 {
            color: $purple;
            font-size: clamp(2rem, 2.25vw, 3rem);
        }
    }


    .projects-grid {
        display: grid;
        gap: 4rem 2rem;

        @include tablet-small {
            grid-template-columns: repeat(2, 1fr);
        }

        .project {
            @include tablet {
                text-align: center;
            }

            .headline {
                padding: 1rem 0 0.25rem 0;

                h4 {
                    font-weight: bold;
                    font-size: clamp(1.5rem, 2.5vw, 2rem);
                    line-height: 1.25em;
                }
            }

            .cta {
                padding-top: 1rem;
            }
        }

        #cjmt {
            grid-column: 1 / -1;
            border: 3px solid $orange;
            padding: 2rem;

            @include tablet {
                display: flex;
                align-items: center;
                text-align: left;

                .map {
                    max-width: 24rem;
                }

                .info {
                    flex: 1;
                    padding-left: 3rem;
                }
            }
        }
    }

}