section.summary {
    gap: 2rem;

    h3 {
        color: $purple;
    }

    .info {
        @include tablet {
            grid-column: 2 / span 4;
        }

        @include desktop-small {
            grid-column: 2 / span 7;
        }
    }

    .sidebar {
        background: #eee;
        padding: 2rem;

        @include tablet {
            grid-column: 6 / span 4;
            padding: 3rem;
        }

        @include desktop-small {
            grid-column: 10 / span 4;
        }

        p {
            line-height: 1.75em;
        }
    }



}