nav.breadcrumbs {
    padding: 1rem 0 2rem 0;

    .links {
        display: flex;
        align-items: center;

        .level {
            & + .level {
                margin-left: 0.375rem;

                &:before {
                    content: '>';
                    font-size: 0.75rem;
                    display: inline-block;
                }
            }
        }
    }

     a, span.current {
         font-size: 0.75rem;
         display: inline-block;
     }

     a {
         font-weight: bold;
     }
}