.cta {
    .btn {
        text-transform: uppercase;
        font-size: 0.8125rem;
        letter-spacing: 0.05em;
        font-weight: bold;
        color: $light-purple;
        border-color: $light-purple;
        border-width: 2px;

        &:hover {
            background: $light-purple;
            color: $white;
        }

        &.orange {
            border-color: $orange;
            background: $orange;
            color: $white;

            &:hover {
                background: $orange;
                color: $white;
            }
        }
    }

    .underline {
        text-transform: uppercase;
        border-bottom: 2px solid;
        display: inline-block;
        font-weight: 700;
        letter-spacing: 0.15em;
        font-size: clamp(0.75rem, 1vw, 0.875rem);
        padding-bottom: 0.125rem;
    }
}