section.timeline {
    padding: 6rem 0;
    gap: 2rem;

    .section-header {
        text-align: center;
        padding-bottom: 3rem;

        @include desktop-small {
            grid-column: 4 / span 8;
        }

        .headline {
            h3 {
                font-weight: 700;
                color: $purple;
                font-size: clamp(1.5rem, 1.5vw, 1.75rem);
                line-height: 1.25em;
            }
        }
    }

    .timeline-range {
        display: grid;
        grid-template-columns: 4rem 1fr 4rem;
        padding-bottom: 3rem;

        @include tablet {
            padding-bottom: 6rem;
        }

        .start,
        .end {
            font-style: italic;
            font-size: clamp(0.875rem, 1vw, 1rem);
            letter-spacing: 0.05em;
            padding-top: 0.1375rem;
        }

        .start {
            text-align: right;
            padding-right: 1.5rem;
        }

        .end {
            padding-left: 1.5em;
        }

        .line {
            &:before {
                content: '';
                display: block;
                width: 100%;
                height: 3px;
                background: $light-purple;
                position: absolute;
                top: 0.6rem;
            }
        }

        .timeline-link {
            display: block;
            position: absolute;
            top: 0.15rem;

            &:hover {
                cursor: pointer;

                .label {
                    opacity: 1;
                }
            }

            &.duplicate-year {
                &:nth-child(even) {
                    .dot {
                        transform: translateY(-0.61255rem);
                    }
                }

                &:nth-child(odd) {
                    .dot {
                        transform: translateY(0.725rem);
                    }
                }
            }

            .dot {
                background: $light-purple;
                width: 1rem;
                height: 1rem;
                display: block;
                border-radius: 50%;
                transition: all 0.2s ease;
            }

            .label {
                position: absolute;
                top: -2rem;
                left: -0.5rem;
                width: 2rem;
                text-align: center;
                opacity: 0;
                transition: all 0.2s ease;
            }

            &:nth-child(odd) {
                .label {
                    top: auto;
                    bottom: -2rem;
                }
            }

            &:nth-child(odd) {
            }

            &.active {
                .dot {
                    background: $orange;
                }

                .label {
                    opacity: 1;
                }
            }
        }
    }

    .timeline-slider {
        max-width: 892px;
        margin: 0 auto;

        .entry-wrapper {
            padding: 1rem 2rem;
            max-width: 892px;

            @include tablet {
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .entry {
                &:focus,
                &:active {
                    outline: none;
                }
            }

            .photo {
                @include tablet {
                    order: 1;
                    width: calc(60% - 1rem);
                    height: 100%;
                }

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    margin-left: auto;
                    box-shadow: 0 0 16px rgba(0, 0, 0, 0.1);
                }
            }

            .info {
                padding-bottom: 1rem;
                @include tablet {
                    padding-bottom: 0;
                    order: 2;
                    width: calc(40% - 1rem);
                }

                .headline {
                    h3 {
                        font-weight: bold;
                        color: $light-purple;
                    }
                }
            }
        }
    }
}
